@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Lato', sans-serif;
  @apply bg-gray-950 text-gray-100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
} 